body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ui.page.modals.transition.visible {
  display: flex !important;
}

.avatar-loading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: avatar-spin 2s linear infinite;
}

.avatar-loading img {
  opacity: 0;
}

@keyframes avatar-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}