body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fafafa !important;
}

.ui.page.modals.transition.visible {
  display: flex !important;
}

.avatar-loading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: avatar-spin 2s linear infinite;
}

.avatar-loading img {
  opacity: 0;
}

@keyframes avatar-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fluid-input-holder .input{
  width: 100%;
}

.fluid-input-holder .header span{
  font-size: 2em;
}

.list .header{
  padding-bottom: 4px;
}

.ui.input.form-control {
  padding: 0;
  border: none;
  width: 100%;
}
.ui.input.form-control input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.basic-form-holder .input-group label {
  width: 100%;
  margin-bottom: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}